<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sql"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=kraka.ucn.dk; Initial Catalog=dmaj0917_1067666; User ID=dmaj0917_1067666; Password=Password1!;"/>
  </connectionStrings>
</configuration>